# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Dotenv file
.env

# Private key
.mnemonic

# Others
svg_example.xml
internal_notes.md
.DS_Store